.bank-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  width: 370px;
  height: 388px;
  background: #fff;
}
.bank-item p {
  font-weight: 400;
  font-size: 30px;
  color: #000;
}
